@model Berber.Models.Salon

@{
    ViewData["Title"] = "Salon Detayları";
}


<div>
    <h4>@Model.Ad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalismaSaatleri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalismaSaatleri)
        </dd>
    </dl>
</div>

<div class="form-group mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Düzenle</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Listeye Geri Dön</a>
</div>
