@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = $"Hizmet Ata";
}
<div class="row">
    <div class="col-12 mb-4">

        <h4 class="text-muted">
            @ViewBag.CalisanAdSoyad -
            @ViewBag.SalonAdi
        </h4>
    </div>
</div>


<form asp-action="AssignServices" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" name="CalisanId" value="@ViewBag.CalisanId" />

    <div class="card shadow mb-4">
        <div class="card-header bg-primary text-white">
            Atanacak Hizmetler
        </div>
        <div class="card-body">
            <div class="row">

                @foreach (var hizmetItem in (ViewBag.HizmetAtamaListesi as List<SelectListItem>))
                {
                    <div class="col-md-4 mb-3">
                        <div class="form-check">

                            <input type="checkbox"
                                   name="HizmetIdler" 
                                   value="@hizmetItem.Value"
                                   checked="@hizmetItem.Selected"
                                   class="form-check-input" />

                            <label class="form-check-label">
                                @hizmetItem.Text
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-save"></i> Atamaları Kaydet
            </button>
            <a asp-action="Index" class="btn btn-outline-secondary">İptal / Listeye Dön</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}