@model Berber.Models.Calisan

@{
    ViewData["Title"] = "Çalışan Detayları";
}
<div>
    <h4> Çalışan : @Model.AdSoyad</h4>
    <hr />

    
        <dl class="row">
            <dt class="col-sm-3">
                Ad Soyad
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AdSoyad)
            </dd>
            <dt class="col-sm-3">
                Uzmanlık Alanları
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UzmanlikAlanlari)
            </dd>
            <dt class="col-sm-3">
                Ait Olduğu Salon
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Salon.Ad)
            </dd>
        </dl>
</div>
<div class="mt-3">
    @* Kullanıcıyı 'Düzenle' sayfasına veya 'Listeye Geri' gönderme linkleri *@
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Düzenle</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Listeye Geri Dön</a>
</div>
